// -------------------------
// -------------------------
// Variables
// -------------------------
// -------------------------



// General sizes
// General sizes
// General sizes
// General sizes
// General sizes
$desktop-footer-logo-width    : 160px;





// Colors
// Colors
// Colors
// Colors
// Colors
$footer-text-color  : #8c8989;
$footer-link-color  : #ddd;
